/* .container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 40%;
  max-width: 40%;
} */
.container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}


/* first row */
.box {
  display: inline-block;
  padding: 10px;
  font-size: 100%;
}

.box1 {
  color: red;
  text-align: left;
}

.box2 {
  color: black;
  text-align: center;
}

.box3 {
  color: forestgreen;
  font-weight: bold;
  text-align: right;
}

.box4 {
  color: yellow;
  text-align: left;
}

.box5 {
  color: black;
  text-align: left;
}

/* second row */
.box6 {
  color: black;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.box7 {
  color: red;
  text-align: left;
}

.box8 {
  color: black;
  font-weight: bold;
  text-align: left;

}

.box9 {
  color: black;
  text-align: left;
}

/* third row */

.box10 {
  color: forestgreen;
  text-align: left;

}

.box11 {
  color: dodgerblue;
  /* TODO:test */
  text-align: justify;
}

.box12 {
  color: forestgreen;
  text-align: right;
}

/* fourth row */

.box13 {
  color: black;
  font-weight: bold;
  text-align: left;
}

.box14 {
  color: dodgerblue;
  font-weight: bold;
  text-align: center;
}

.box15 {
  color: red;
  text-align: center;
  width: 200%;
}